*{
	margin:0;
	padding: 0;
}

h1{
		font-size: 2em;
		font-weight: 200px;
		padding: 20px 30px;
		margin:50px 30px 20px;
		color: gray;

	}
	p{
		font-size: 25px;
	}
/* Section*/
section{
	padding: 25px;
}
/* Class*/

.img{
	height: 100%;
	float: left;
}
.content{
	padding: 20px 25px;
	background-color: yellow;
}
/* Id*/
#about_myself{
	background-color: darkblue;
	overflow: hidden;
}

#about_myself h1{
	color: #fff;
	text-decoration: underline;
	text-decoration-color: orange;
	text-align: center;
	font-size: 40px;
	text-shadow: 10px 2px 4px black;
}
##about_myself p{
	font-size: 20px;
	line-height: 1.8;
}

/*Dropdown menu css*/
#main-menu{

}
#main-menu ul {
	list-style: none;
	overflow: hidden;
	background-color: lightblue;
}
#main-menu ul li{
	float: left;
}
#main-menu ul li a{
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
	padding: 10px 20px;
	display: block;
	text-decoration: none;

}
#main-menu ul li a:hover{
	background-color: orange;


}
/*--Drop Down--*/
#main-menu ul ul li{
	float: none;
}
#main-menu ul ul {
	position: absolute;
	display: none;
}
#main-menu ul li:hover ul{
	display: block;
}

/*MY Pricing table*/
.col-33{
	width: 33.33%;
	float: left;
}
#my_service{
	background-color: skyblue;
	overflow: hidden;
	text-align: center;
}
#my_service .space{
	background-color: violet;
	margin:0 10px;
}
#my_service h2{
	font-size: 35px;
}
#my_service ul{
	list-style-type: none;
}
#my_service ul li{
	font-size: 18px;
	padding:10px 5px;
	border:1px solid gray; 
}
#my_service button{
	font-size: 1.2em;
	width: 100%;
	height:100%;
	padding: 10px 0;
	margin:10px auto 5px;


}
#my_service button:hover{
	background:#fff;
	color:black;
}
/*	ul{
		list-style: none;
		overflow: hidden;
		background: skyblue;
		text-transform: uppercase;
	}
	ol{
		padding-top: 12px;
    	padding-bottom: 12px;
    	text-align: left;
   		 background-color: #4CAF50;
    	color: white;
		} 
	
	ul li{
		float: left; 
		border-right: 2px solid blue;
	}
	ul li:last-child{
		border:0;
	}



	ul li a{
		padding: 15px 20px;
		display: block;
		text-decoration: none;
		font-size: 1.2em;
		font-size: arial;
	}
	ul li a:hover{
		background-color: blue;
		color: #fff;
	}

	*/
/*===Table */
			
			table{
				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    			border-collapse: collapse;
   				width: 60%;
			}
			table th{
				 padding-top: 12px;
   				 padding-bottom: 12px;
    			text-align: left;
    			background-color: #4CAF50;
    			color: white;
			}


				table tr td {
				border-bottom:2px solid gray;
				padding:10px 5px;
			}
			table tr:first-child td {
				padding:0;
			}
			table tr:last-child td {
				border:0;
			}
			table tr td:hover {
				background-color:gray;
				cursor:pointer;
			}
