*{
	margin:0;
	padding: 0;
}

h1{
		font-size: 2em;
		font-weight: 200px;
		padding: 20px 30px;
		margin:50px 30px 20px;
		color: gray;

	}
	p{
		font-size: 25px;
	}
/* Section*/
section{
	padding: 25px;
}
.col-25{
		width:25%;
		float:left;
	}
.col-60{
		width:60%;
		float:left;
	}
.col-40{
		width:40%;
		float:right;
	}
.space{
		padding:25px 30px;
	}
/* Class*/

.img{
	height: 100%;
	float: left;
}
.content{
	padding: 20px 25px;
	background-color: yellow;
}
/* Id*/
#about_myself{
	background-color: darkblue;
	overflow: hidden;
}

#about_myself h1{
	color: #fff;
	text-decoration: underline;
	text-decoration-color: orange;
	text-align: center;
	font-size: 40px;
	text-shadow: 10px 2px 4px black;
}
##about_myself p{
	font-size: 20px;
	line-height: 1.8;
}

/*Dropdown menu css*/
#main-menu{

}
#main-menu ul {
	list-style: none;
	overflow: hidden;
	background-color: lightblue;
}
#main-menu ul li{
	float: left;
}
#main-menu ul li a{
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
	padding: 10px 20px;
	display: block;
	text-decoration: none;

}
#main-menu ul li a:hover{
	background-color: orange;


}
/*--Drop Down--*/
#main-menu ul ul li{
	float: none;
}
#main-menu ul ul {
	position: absolute;
	display: none;
}
#main-menu ul li:hover ul{
	display: block;
}

/*MY Pricing table*/
.col-33{
	width: 33.33%;
	float: left;
}
#my_service{
	background-color: skyblue;
	overflow: hidden;
	text-align: center;
}
#my_service .space{
	background-color: violet;
	margin:0 10px;
}
#my_service h2{
	font-size: 35px;
}
#my_service ul{
	list-style-type: none;
}
#my_service ul li{
	font-size: 18px;
	padding:10px 5px;
	border:1px solid gray; 
}
#my_service button{
	font-size: 1.2em;
	width: 100%;
	height:100%;
	padding: 10px 0;
	margin:10px auto 5px;


}
#my_service button:hover{
	background:#fff;
	color:black;
}

/*=== My Skills progress bar ====*/

.my_skills {
    background-color: #bc9ff1;
    overflow: hidden;
}
.my_skills h1{
	font-size: 40px;
	color: blue;
	font-weight: 600;
}
.progress_bar {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
    margin-bottom: 15px;
}

.progress_inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: lightblue;
    height: 99%;
    text-align: right;
    display: block;
    color: #fff;
}
.myskills p{
		padding-right:15px;
		font-size:1.3em;
	}

/*=== My Skills progress bar end ====*/

/*=== My Works Start ====*/
#my_work h1 {
    font-size: 60px;
    color: blue;
    font-weight: 600;
    text-transform: capitalize;
}

#my_work {
    background: gray;
}
#my_work .space {
   		background-color:yellow;
		margin:5px 15px;
		padding:0px;
		position:relative;
		box-shadow:0 0 10px black;
}

#my_work img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

#my_work .over-view {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: #0080008f;
}
#my_work .inner-view{
		margin-top:45%;
		text-align:center;
		
	}
	#my_work .inner-view a{
		font-size:1.7em;
		text-decoration:none;
		font-weight:bold;
		color:white;
		padding:7px 15px;
		border:1px solid white;
		
	}
	#my_work .space:hover .over-view {
		display:block;
	}
/*=== My Works end ====*/
/*===Table */
			
			table{
				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    			border-collapse: collapse;
   				width: 60%;
			}
			table th{
				 padding-top: 12px;
   				 padding-bottom: 12px;
    			text-align: left;
    			background-color: #4CAF50;
    			color: white;
			}


				table tr td {
				border-bottom:2px solid gray;
				padding:10px 5px;
			}
			table tr:first-child td {
				padding:0;
			}
			table tr:last-child td {
				border:0;
			}
			table tr td:hover {
				background-color:gray;
				cursor:pointer;
			}

/*jQuery style*/
#scrool_top{
	height: auto;
	background-color: yellow;
	position: fixed;
	bottom: 10px;
	right: 10px;
	border:1px solid;
	border-radius: 50%; 
	padding:10px 15px 5px;
	cursor: pointer;
	display: none;
}
#scrool_top a{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #fff;

}
#scrool_top:hover{
	background-color: green;
}

/* ======= Responsive View =============== */
	
	@media (max-width:600px){
		.col-50, .col-33, .col-25{
			width:100%;
			float:none;
		}
		.space{
			padding:5px;
		}
		#main-menu ul li{
			float:none;
		}
		#main-menu ul li:hover ul{
			right:0;

		}
		
	}
	
/* ======= Responsive View =============== */
	
